

main {
  margin: 2em 0 2em;
}



  .CV {
  font-weight: 600;
  padding-left: 20px;
  margin-left: 70px;
  text-transform: uppercase;
  }

  .fett {
    /* background-color: antiquewhite; */
    font-weight: 600;
    margin-top: 1em;
    padding: 1em;
  }

  p {
    padding-left: 1em;
    margin: 0;

  }

  h2 {
    padding: 0;
    margin-top: 2em;
    margin-bottom: 0;
  }

@media only screen and (min-width: 1000px) {
  .bisher {
    padding-top: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction:row;
    justify-content:space-around;
    align-content: flex-start;
    align-items: flex-start;
    flex-shrink: 1;
  }

  
}
